.book {
  width: 100px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ebe6e8;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f6f6f6;
  }

  &__image {
    object-fit: cover;
    width: 100px;
    height: 144px;

    border: 0.5px solid #ebe6e8;
    border-radius: 10px;
  }

  &__text-wrapper {
    padding: 5px;
    gap: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #343232;
    word-break: break-all;
  }
  &__author {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    word-break: break-all;

    color: #514d4c;
  }
}
