.book {
  width: 305px;
  padding: 10px;
  background: var(--white);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid var(--brown);
  transition: background 0.3s;

  &:hover {
    background: var(--gray);
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__main {
    display: flex;
    gap: 20px;
  }

  &__image {
    width: 100px;
    height: 104px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }

  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
  }

  &__author {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--brown);
  }
}
